$base-font: 'Graphik', Helvetica, sans-serif;
$banner-font: 'PublicoBanner', Helvetica, sans-serif;

$border-color-default: #999;
$border-radius: 0.525rem;
$box-shadow: 2px 9px 10px 1px rgba(130, 130, 130, 0.35);

$caption-size: 0.875rem;
$min-spacer: 0.625rem;

$color-primary: #316eef;
$color-primary-faded: #316eefd4;
$color-invalid: #db4c13;
